*{
    padding: 0;
    margin: 0;
}
/* body{
    display: grid;
    place-items: center;
} */
main{
    display: grid;
    grid-template-areas: 'first first second' 'third third forth ';
}
main > div {
padding: 80px;
}
main div:first-child{
    background-color: orangered;
    grid-area: first;
}
main div:nth-child(2){
    background-color: yellow;
    grid-area: second;
}
main div:nth-child(3){
    background-color: green;
    grid-area: third;
}
main div:nth-child(4){
    background-color: blue;
    grid-area: fourth;
}
main div:nth-child(5){
    background-color: blue;
    grid-area: fifth;
}